


body{
    overflow: hidden;
}
@media only screen and (max-width: 600px) {
    .overlay{
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5); /* Black background with opacity */
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    }
  }
  a{
    &:hover{
        text-decoration: none !important;
    }
}

.trigger{
    width: 72px;
    height: 72px;
    line-height: 72px;
    text-align: center;
    font-size: 18px;
    transition: all .3s e
}

.ant-menu-item{
    padding-left: 24px;
    display: flex;
    align-items: center;
}
.show-link{
    font-size: 16px;
    margin-bottom: 10px;
    text-transform: capitalize;
    color: #666;
    display: flex;
    justify-items: center;
    align-items: center;
    .custom-icon{
       margin-right: 5px;
        
    }
  

}
.custom-chart{
    background: #fff;
   
}
.custom-calender{
    margin-top: 4rem;
}
@media only screen and (max-width: 600px) {
    .overlay{
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5); /* Black background with opacity */
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    }
  }